<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slum Map View</title>

    <!-- Leaflet CSS -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    >

    <!-- Your Map CSS -->
    <link
        rel="stylesheet"
        href="/slum-portal/static/css/map.css"
    >
</head>

<body>
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Your Map JS -->
    <script src="/slum-portal/static/js/map.js"></script>
</body>
</html>

